<html xmlns="http://www.w3.org/1999/html">
<head>
    <title>website</title>
</head>
<body>
  <div class='header' align='center'>
     <h1>PDF Downloader</h1>
  </div></br></br>
  <div class='jdate' >
    <form method="post"action="/">
  <h3>Judgement Date</h3>

<label for="fdate"><b>From</b></label>
        <input type="text" name="fdate" id="fdate" placeholder="dd-mm-yyyy" ></br></br>
        <label for="todate"><b>To</b></label>
        <input type="text" name="todate" id="todate" placeholder="dd-mm-yyyy" >
  <button name="sdate" value="sdate"  id="sdate" type="submit" onclick="document.getElementById('fdate & todate').value" >Submit</button></br></br>

      </div>
  <div class='wbody' align='center'>
  <h2>pdf urls</h2></br>
   {% for x in content %}
      <p>{{x}}</p>
    {% endfor %}
    </br></br>
   </div>
  </form>
  <div class="footer" align="center">
<form action="/download/" method="post">

    <button id="download" name="download" type="submit" >Download</button>
</form>

  </div>




</body>
</html>

